<% include partials/header %>
<main class="container text-center">
    <div class="breadcrumbs"><a href="/">Home</a>&nbsp;&nbsp;/&nbsp;&nbsp;<u>About</u></div>
    <h2>About</h2>
    <p>
        This website was created as a prototype testing a list of design guidelines for responsive mobile websites.
    </p>
    <p>
        
    </p>
</main>
<% include partials/footer %>
